html {
    font-family: "Montserrat", serif;
    font-size: calc(14px + (6 * ((100vw - 500px) / 1000)));
}

/*------------------------------------------------------------------*/
/*--------------------------- Header -------------------------------*/
/*------------------------------------------------------------------*/

/*--------------------------------------*/
/*------------ Header_Top --------------*/
/*--------------------------------------*/

header {
    padding: 0 35px;
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    /* transition: 0.3s font-size ease; */

    background: linear-gradient(145deg, #FFF5E0, #FADCAD);
    padding-bottom: 230px;
}

.address {
    position: absolute;
    right: 35px;
    top: 20px;
}

.address__metro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.address__metro img {
    max-width: 42.23px;
    width: 2.2vw;
    height: auto;
}

.lamp-decor {
    position: absolute;
    left: 35px;
    top: 0px;

}

.lamp-decor img {
    max-width: 364px;
    width: 20vw;
    height: auto;
}

nav {
    background-color: #FFC36A;
    max-width: 760px;
    min-width: 338px;
    width: 40vw;
    border-radius: 0 0 30px 30px;
    /* transition: 0.5s width ease; */

    margin: auto;
}

.nav__content {
    padding: 14px 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo-name {
    display: flex;
    align-items: center;
    gap: 1.25vw;

}

.nav__logo {
    background-color: black;
    max-width: 91px;
    max-height: 91px;
    width: 4.6vw;
    height: 4.6vw;
    border: 2px solid #F9AE0F;
    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__logo img {
    max-width: 65px;
    width: 3.5vw;
    height: auto;
}

.nav__name {
    font-weight: 900;
    font-size: 1.45em;
}

.nav__btn {
    font-size: 0.9em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav__btn:hover {
    color: #ff5100;
}

.nav__btn:last-child {
    margin-left: 1vw;
}

/*---------------------------------------*/
/*----------- Header_Center -------------*/
/*---------------------------------------*/

.header__content {
    display: flex;
    justify-content: end;
    margin-top: 41px;
    margin-right: 7.95vw;
}

.header__content__left {
    margin-top: 9.8vw;
    margin-right: 3.4vw;
}

.header__content__left h2 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 1.56vw;
    line-height: 1.22em;
}

.header__right__row-b {
    text-align: center;
}

.header__right__row-b img {
    max-width: 626px;
    width: 33vw;
    height: auto;
}

.header__right__row {
    display: flex;
    gap: 7.35vw;
    position: relative;
}

.header__right__row.top-row {
    align-items: flex-end;
}

.header__right__row.bottom-row {
    align-items: flex-start;
}

.header__circle-card {
    max-width: 192px;
    max-height: 192px;
    width: 10vw;
    height: 10vw;
    background-color: #fff;
    border-radius: 50%;

    position: relative;

    background-image: conic-gradient(from 160deg, #FADEB2 0%, #FED589 43%, #FFF1DA 70%, #FADEB2 94%);
    filter: drop-shadow(10px 7px 7px rgba(0, 0, 0, 0.2));
    transition: transform 1.2s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}

.header__circle-card.top-card {
    margin-bottom: 3.5vw;
}

.header__circle-card.bottom-card {
    margin-top: 3.5vw;
}

.header__circle-card:hover {
    transform: rotate(360deg) scale(1.1);
}

.header__circle-card img {
    width: 50%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*-------------------------------------------------------------------*/
/*------------------------ Section About us -------------------------*/
/*-------------------------------------------------------------------*/

.about-us {
    display: flex;
    flex-direction: column;

    background: linear-gradient(180deg, #FFBF41, #FFA807);
}

.slide-text {
    display: flex;
}

.about-us__text {
    padding: 35px;
    flex: 0 1 900px;
    width: 900;
}

.about-us__text h3 {
    font-size: 1.78em;
    font-weight: 600;
    margin-bottom: 25px;
}

.about-us__text p {
    line-height: 1.65em;
    text-align: justify;
}

/*---------------------------------------*/
/*--------------- Slider ----------------*/
/*---------------------------------------*/

.main-slider {
    max-width: 1020px;
    /* width: 53vw; */
    flex: 0 0 53.3vw;
    height: 35.3vw;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.thumbnail-slider {
    display: flex;
    justify-content: center;
    width: 100%;
}

.thumbnail-background {
    background-color: black;
    padding: 20px 10px;
}

.thumbnail-slider img {
    width: 330px;
    height: 220px;
    object-fit: cover;
}

.thumbnail-slider .swiper-slide-active img {
    border: 2px solid rgb(0, 0, 0);
}

.swiper-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    width: 62px;
    height: 62px;
    border-radius: 50%;

    backdrop-filter: blur(8.5px);


    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.swiper-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 30px rgb(255, 255, 255);
}

.swiper-button.prev {
    left: 20px;
}

.swiper-button.next {
    right: 20px;
}

.slider-button.prev img {
    transform: translateX(-2px);
}

.slider-button.next img {
    transform: translateX(2px);
}

/*---------------------------------------*/
/*--------------- Facts -----------------*/
/*---------------------------------------*/

.about-us__facts {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 200px;
    background-color: rgb(16, 27, 90);
}

.fact {
    text-align: center;
}

.fact__name {
    font-size: 2rem;
    font-weight: 800;
    color: #FFD900;

    margin-bottom: 0.68vw;
}

.fact__desc {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

/*-------------------------------------------------------------------*/
/*---------------------------  Contacts -----------------------------*/
/*-------------------------------------------------------------------*/

.contacts {
    background-color: gray;
    color: white;
}

.contacts__content {
    padding: 50px 389px;
}

.contacts__info {
    display: flex;
    gap: 25px;
}

.info__block {
    padding: 45px 35px;
    flex-basis: 370px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;

    border-radius: 18px;
    background-color: hsla(0, 0%, 7%, 0.65);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.22rem;
}

.info__block img {
    max-width: 48px;
    width: 2.5vw;
    height: auto;
}

.contacts_form {
    margin-top: 48px;
    padding: 52px 205px;

    border-radius: 53px;
    background-color: hsla(0, 0%, 7%, 0.65);
}

.contacts_form h3 {
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 20px;
}

.form__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Два столбца одинаковой ширины */
    grid-template-rows: auto auto auto;
    /* Три строки по содержимому */
    gap: 20px;
    /* Расстояние между элементами */
    margin-bottom: 25px;
}

.inputs__row input {
    border: none;
    height: 55px;
    border-radius: 15px;
    font-size: 0.9rem;
    padding-left: 20px;
}

::placeholder {
    font-family: "Montserrat", serif;
}

#tel::placeholder {
    letter-spacing: 1px;
}

#theme {
    border: none;
    border-radius: 15px;
    font-size: 0.9rem;
    padding-left: 20px;
}

#text {
    border: none;

    height: 170px;
    border-radius: 15px;
    font-size: 0.9rem;
    padding: 25px 25px;

    grid-column: span 2;
}

.inputs__row {
    display: contents;
}

.form label {
    font-size: 0.85rem;
}

/*---------------------------------------*/
/*---------- Custom-Checkbox ------------*/
/*---------------------------------------*/

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.custom-checkbox input[type="checkbox"]:hover {
    border: 2px solid #b1b1b1;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: #ffffff;
    background-image: url('assets/check.png');
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-checkbox input[type="checkbox"]:checked:hover {
    border: 2px solid #b1b1b1;
    background-color: #b1b1b1;
}

/*---------------------------------------*/

.btn-box {
    text-align: center;
}

.btn-submit {
    width: 272px;
    height: 61px;
    border-radius: 26px;
    cursor: pointer;
    border: none;
    margin-top: 30px;

    background-color: white;

    font-size: 0.85rem;

    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #45a049;
    /* Цвет кнопки при наведении */
}

/*-------------------------------------------------------------------*/
/*----------------------------- Footer ------------------------------*/
/*-------------------------------------------------------------------*/

footer {
    background-color: #2D241D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
}

footer  .nav__logo{
    scale: 0.5;
}


/*-------------------------------------------------------------------*/
/*------------------------  Media responses -------------------------*/
/*-------------------------------------------------------------------*/

@media (min-width: 1921px) {
    html {
        font-size: 22.6px;
    }

    .nav__logo-name {
        gap: 24px;
    }

    .header__content {
        margin-right: 152px;
    }

    .header__content__left {
        margin-top: 188px;
        margin-right: 65px;
    }

    .header__content__left h2 {
        margin-bottom: 30px;
    }

    .header__right__row {
        gap: 141px;
    }

    .header__circle-card.top-card {
        margin-bottom: 67px;
    }

    .header__circle-card.bottom-card {
        margin-top: 67px;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 14px;
    }

}